# -- --------------------------------------------------------------------------------------------------  -- #       
# -- Repository: MonteCarlo-Simulations
# -- Requirements: requirements.txt
# -- Author(s): EstebanMqz
# -- License: CC BY 3.0
# -- Environment: https://github.com/EstebanMqz/MonteCarlo-Simulations/blob/main/requirements.txt
# -- --------------------------------------------------------------------------------------------------  -- #

matplotlib >= 3.5.3
numpy >= 1.25.0
pandas >= 1.4.4
tabulate >= 0.8.9
jupyter >= 1.0.0 
ipython >= 8.10.0 
