
# -- --------------------------------------------------------------------------------------------------  -- # 
# -- project: MonteCarlo-Simulations                                                                     -- # 
# -- script: requirements.txt: txt file to download Python modules for execution                         -- # 
# -- author: EstebanMqz                                                                                  -- # 
# -- license: CC BY 3.0                                                                                  -- # 
# -- repository: https://github.com/EstebanMqz/MonteCarlo-Simulations/blob/main/requirements.txt         -- # 
# -- --------------------------------------------------------------------------------------------------  -- # 


numpy >= 1.23.5 
pandas >= 1.4.4 
matplotlib >= 3.5.3 
IPython.display >= 8.12.0 
jupyter >= 1.0.0 
IPython >=8.12.0 
tabulate >= 0.9.0 
